<div class="flex-container">
    <mat-card>        
        <mat-card-content>
            <p>Symbols data...</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-primary color="primary" routerLink="symbols">Go to Symbols</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>        
        <mat-card-content>
            <p>Team data...</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-primary color="primary" routerLink="symbols">Go to Team</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>        
        <mat-card-content>
            <p>Moderators data...</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-primary color="primary" routerLink="symbols">Go to Moderators</button>
        </mat-card-actions>
    </mat-card>
</div>