<mat-card>
  <mat-card-content>
    <form class="form" *ngIf="symbol; let symbol; else loading">
      <mat-form-field class="full-width">
        <input matInput placeholder="Name" name="name" [(ngModel)]="symbol.name">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-select placeholder="Category" [(value)]="symbol.category">
          <mat-option *ngFor="let item of categories | keys; let i = index" [value]="i">
            {{item.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let synonym of symbol.synonyms" mat-primary selected color="primary" [removable]="true" (remove)="removeSynonym(synonym)">
            {{synonym.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Synonyms..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addSynonym($event)" />
        </mat-chip-list>
      </mat-form-field>
      <mat-accordion class="example-headers-align" [multi]="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Notion
            </mat-panel-title>
            <mat-panel-description>{{ getNotionsDescription() }}</mat-panel-description>
          </mat-expansion-panel-header>
            <ul>
              <li *ngFor="let notion of symbol.notions">
                  <a mat-icon-button mat-primary color="primary" (click)="removeNotion(notion)">
                      <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-trash"></mat-icon>
                  </a>
                  <ng-container *ngFor="let word of getParsedExpression(notion.expression)">                
                      <a *ngIf="word.name; else showText" color="accent" class="link" (click)="relatedSymbolSelected(word.id)">{{ '#' + word.name + ' ' }}</a>
                      <ng-template #showText>
                        {{ word + ' ' }}
                      </ng-template>
                    </ng-container>       
              </li>
            </ul>
            <mat-form-field class="full-width">
              <input 
              matInput
               placeholder="notion" 
               (keyup.enter)="addNotion($event)" 
               (keyup.arrowup)="trigger._handleKeydown($event)"     
               (keyup.arrowdown)="trigger._handleKeydown($event)"               
               (keyup)="notionInputChange($event)" 
               name="pruebanotion" 
               [(ngModel)]="newNotion" 
               matAutocompleteOrigin 
               #autoCompleteNotionOrigin="matAutocompleteOrigin">              
            </mat-form-field>
            <mat-form-field class="full-width" [style.display]="'none'" >              
              <input matInput [formControl]="notionControl" [matAutocomplete]="auto" [matAutocompleteConnectedTo]="autoCompleteNotionOrigin">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="notionSymbolSelected($event)">
                <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Behavioural Response
            </mat-panel-title>
            <mat-panel-description>{{ getBehaviouralResponsesDescription() }}</mat-panel-description>
          </mat-expansion-panel-header>
          <ul>
            <li *ngFor="let behaviouralResponse of symbol.behaviouralResponses">
              <a mat-icon-button mat-primary color="primary" (click)="removeBehaviouralResponse(behaviouralResponse)">
                <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-trash"></mat-icon>
              </a>
              <ng-container *ngFor="let word of getParsedExpression(behaviouralResponse.expression)">                
                <a *ngIf="word.name; else showText" color="accent" class="link" (click)="relatedSymbolSelected(word.id)">{{ '#' + word.name + ' ' }}</a>
                <ng-template #showText>
                  {{ word + ' ' }}
                </ng-template>
              </ng-container>                 
            </li>
          </ul>
          <mat-form-field class="full-width">
           <!-- <input matInput placeholder="Add a new expression to Behavioural Response" (keyup.enter)="addBehaviouralResponse()" name="behaviouralResponse"
              [(ngModel)]="newBehaviouralResponse"> -->
              <input matInput placeholder="behaviouralResponse" (keyup.enter)="addBehaviouralResponse($event)" (keyup.arrowup)="trigger._handleKeydown($event)"  
              (keyup.arrowdown)="trigger._handleKeydown($event)" (keyup)="behaviouralResponseInputChange($event)" name="behaviouralResponse" [(ngModel)]="newBehaviouralResponse"
              matAutocompleteOrigin
              #autoCompleteBehaviouralResponseOrigin="matAutocompleteOrigin" >
          </mat-form-field>
          <mat-form-field class="full-width" [style.display]="'none'" >  
              <input matInput [formControl]="behaviouralResponseControl" [matAutocomplete]="autoBehaviouralResponse" [matAutocompleteConnectedTo]="autoCompleteBehaviouralResponseOrigin">
              <mat-autocomplete #autoBehaviouralResponse="matAutocomplete" (optionSelected)="behaviouralResponseSymbolSelected($event)">
                  <mat-option *ngFor="let optionBehaviouralResponse of filteredOptionsBehaviouralResponse | async " [value]="optionBehaviouralResponse">
                    {{ optionBehaviouralResponse }}
                  </mat-option>
              </mat-autocomplete>
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Comments
            </mat-panel-title>
            <mat-panel-description>{{ getCommentsDescription() }}</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <mat-list-item *ngFor="let comment of symbol.comments">
              <a mat-icon-button mat-primary color="primary" class="list-icon" (click)="removeComment(comment)">
                <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-trash"></mat-icon>
              </a>
              {{ comment.content }}
            </mat-list-item>
          </mat-nav-list>
          <mat-form-field class="full-width">
            <input matInput placeholder="Add a new comment to Symbol " (keyup.enter)="addComment()" name="comment"
              [(ngModel)]="newComment">
          </mat-form-field>
        </mat-expansion-panel>

      </mat-accordion>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-primary color="primary" (click)="save()">Save</button>
    <button mat-button mat-primary color="primary" (click)="cancel()">Cancel</button>
  </mat-card-actions>
</mat-card>