<mat-dialog-content>
  <form class="form" *ngIf="symbol; let symbol; else loading">
    <mat-form-field class="full-width">
      <input matInput placeholder="Name" name="name" [(ngModel)]="symbol.name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="Category" [(value)]="symbol.category">
        <mat-option *ngFor="let item of categories | keys; let i = index" [value]="i">
          {{item.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let synonym of symbol.synonyms" [selectable]="true" [color]="primary" [removable]="true" (remove)="removeSynonym(synonym)">
          {{synonym.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Synonyms..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addSynonym($event)" />
      </mat-chip-list>
    </mat-form-field>
    <mat-accordion class="example-headers-align" [multi]="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Notion
          </mat-panel-title>
          <mat-panel-description>{{ getNotionsDescription() }}</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-nav-list dense>
          <mat-list-item *ngFor="let notion of symbol.notions">
            <a mat-icon-button mat-primary color="primary" class="list-icon" (keyup.enter)="removeNotion(notion)">
              <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-trash"></mat-icon>
            </a>
            {{ notion.expression }}
          </mat-list-item>
          <mat-form-field class="full-width">
            <input matInput placeholder="Add a new expression to Notion" (keyup.enter)="addNotion()" name="notion"
              [(ngModel)]="newNotion">
          </mat-form-field>
        </mat-nav-list>
      </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Behavioural Response
            </mat-panel-title>
            <mat-panel-description>{{ getBehaviouralResponsesDescription() }}</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <mat-list-item *ngFor="let behaviouralResponse of symbol.behaviouralResponses">
              <a mat-icon-button mat-primary color="primary" class="list-icon" (keyup.enter)="removeBehaviouralResponse()">
                <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-trash"></mat-icon>
              </a>
              {{ behaviouralResponse.expression }}
            </mat-list-item>
          </mat-nav-list>
          <mat-form-field class="full-width">
            <input matInput placeholder="Add a new expression to Behavioural Response" (keyup.enter)="addBehaviouralResponse()" name="behaviouralResponse"
              [(ngModel)]="newBehaviouralResponse">
          </mat-form-field>

        </mat-expansion-panel>
    </mat-accordion>
  </form>
  <ng-template #loading>Loading User Data...</ng-template>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-primary color="primary" (click)="save()">Save</button>
  <button mat-button mat-primary color="primary" [mat-dialog-close]>Cancel</button>
</mat-dialog-actions>