@import '~@angular/material/theming';

@mixin symbol-editor-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

.modal-container {
    display: flex;
    padding: 10px;
}

.symbol-panel{
  width: 50%;
}

li{
  word-wrap: break-word;
}

  .mat-dialog-actions:last-child {
    margin-bottom: 0;
  }

  .form {
    width: 100%;
    
  }
  
  .full-width {
    width: 100%;
  }  

  #linkToSymbol, #linkToSymbol2 {
    cursor: pointer;
    color: darkgreen;
  }

  ul {
    list-style: none; /* Remove HTML bullets */
    padding: 0;
    margin: 0;
  }
}