<div class="container mat-elevation-z8">
  <div class="loading-shade" *ngIf="dataSource.isLoadingResults">
    <mat-progress-spinner *ngIf="dataSource.isLoadingResults"></mat-progress-spinner>
  </div>

  <mat-table #table [dataSource]="dataSource" class="table" matSort mdSortActive="created_at" mdSortDisableClear mdSortDirection="asc">

    <!--- Note that these columns can be defined in any order.
       The actual rendered columns are set as a property on the row definition" -->

    <!-- Number Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="authorName">
      <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.author.userName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">        
        <a mat-icon-button mat-primary color="primary" matTooltip="Go to project detail" [routerLink]="['/lelproject', row.id]">
          <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-search"></mat-icon>
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button mat-primary color="primary" matTooltip="Edit project name" (click)="openEditDialog(row)">
            <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-pencil"></mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button mat-primary color="primary" matTooltip="Delete project" (click)="removeLelProject(row)">
            <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-trash"></mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="dataSource.resultsLength" [pageSize]="30">
  </mat-paginator>

  <div>
    <button mat-button mat-primary color="primary" matTooltip="Add a new project" (click)="openCreateDialog()">New</button>
  </div>

</div>