<div [class]="this.themeClass">
<div class="container-box">
  <div class="row row-top">
    <div class="container mat-elevation-z8">
      <mat-card class="card">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
          <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>            
            <mat-form-field mat-primary color="primary" [ngClass]="{ 'has-error': f.submitted && !username.valid }" class="full-width" >
              <input matInput placeholder="Username" [(ngModel)]="model.username"  name="username" #username="ngModel" required>
              <mat-error *ngIf="f.submitted && !username.valid">Username is required</mat-error>
            </mat-form-field>
            <mat-form-field mat-primary color="primary" [ngClass]="{ 'has-error': f.submitted && !password.valid }" class="full-width" >
              <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
              <mat-error *ngIf="f.submitted && !password.valid">Password is required</mat-error>
            </mat-form-field>            
            <button mat-button [disabled]="loading" mat-primary color="primary" (click)="login()">Login</button>              
            <a mat-button mat-primary [disabled]="loading" [routerLink]="['/register']" color="primary" >Register</a>            
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row row-bottom"></div>
</div>
</div>