<nav class="mat-elevation-z6 app-navbar-component">
  <mat-toolbar color="primary">
    <a mat-button routerLink="." aria-disabled="false">Lexicon Extended Language</a>
    <span class="navbar-spacer"></span>
    <button mat-button [matMenuTriggerFor]="themes">
      <mat-icon>format_paint</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_box</mat-icon>
    </button>
  </mat-toolbar>
</nav>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings</button>
  <button mat-menu-item> Help</button>
</mat-menu>
<mat-menu #themes="matMenu" [class]="menu-content">
  <mat-grid-list cols="2" rowHeight="50px" class="grid">
    <mat-grid-tile
          *ngFor="let theme of themes$ | async; let index=index; let odd=odd; let even=even;"
          [colspan]="theme.cols"
          [rowspan]="theme.rows"
          [ngClass]="{ odd: odd, even: even }"
          [style.background]="theme.color"
          (click)="themeClassChanged(theme.text)">          
      </mat-grid-tile>    
  </mat-grid-list>  
</mat-menu>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item> Settings</button>
  <button mat-menu-item (click)="logout()"> Logout</button>
</mat-menu>