<nav class="mat-elevation-z6 app-navbar-component">
  <mat-toolbar color="primary">
    <a mat-button routerLink="." aria-disabled="false">Lexicon Extended Language</a>
    <span class="navbar-spacer"></span>
    <button mat-button [matMenuTriggerFor]="themes"><mat-icon>format_paint</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>menu</mat-icon></button>
  </mat-toolbar>
</nav>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings</button>
  <button mat-menu-item> Help</button>
</mat-menu>
<mat-menu #themes="matMenu">
  <!-- <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile
          *ngFor="let theme of themes"
          [colspan]="theme.cols"
          [rowspan]="theme.rows"
          [style.background]="theme.color">
        {{theme.text}}
      </mat-grid-tile>
    </mat-grid-list> -->
  <button mat-menu-item (click)="themeClassChanged('default-theme')"> default theme</button>
  <button mat-menu-item (click)="themeClassChanged('my-theme')"> theme1</button>
  <button mat-menu-item (click)="themeClassChanged('m2app-dark')"> theme2</button>
</mat-menu>

