<md-sidenav-container class="docs-component-viewer-sidenav-container">
  <md-sidenav class="docs-component-viewer-sidenav" mode="side" opened="true">
    <nav>
      <h3>Opciones</h3>
      <ul>
        <li>
          <a routerLinkactive="docs-component-viewer-sidenav-item-selected" routerLink="dashboard">
            Dashboard
          </a>
        </li>
        <li>
          <a routerlinkactive="docs-component-viewer-sidenav-item-selected" routerLink="lelprojects">
            Proyects
          </a>
        </li>
        <li>
          <a routerlinkactive="docs-component-viewer-sidenav-item-selected" routerLink="symbols">
            Simbols
          </a>
        </li>
        <li>
          <a routerlinkactive="docs-component-viewer-sidenav-item-selected" routerLink="users">
            Users
          </a>
        </li>

      </ul>
    </nav>
  </md-sidenav>
  <md-toolbar color="primary">
    <span>Toolbar </span>
  </md-toolbar>
  <div class="app-viewer">
    <div class="docs-component-viewer">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</md-sidenav-container>