@import '~@angular/material/theming';
// Plus imports for other components in your app.



// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import 'app/layout/footer/footer.component.scss';
@import 'app/pages/login/login.component.scss';
@import 'app/pages/register/register.component.scss';
@import 'app/pages/symbols/symbol-editor/symbol-editor.component.scss';
@import 'app/pages/symbols/related-symbol-editor/related-symbol-editor.component.scss';

.light-blue {
    $primary: mat-palette($mat-blue);
    $accent:  mat-palette($mat-cyan, A200, A100, A400);
    
    $warn:    mat-palette($mat-lime);
    $light-blue: mat-light-theme($primary, $accent, $warn);

    .link {
        color: mat-color($accent);
    }
    
    @include angular-material-theme($light-blue);
    @include footer-theme($light-blue);
    @include login-theme($light-blue);
    @include register-theme($light-blue);
    @include symbol-editor-theme($light-blue);
    @include related-symbol-editor-theme($light-blue);
}

// specify theme class eg: <body class="my-theme"> ... </body>
.light-green {  
    $primary: mat-palette($mat-green);
    $accent:  mat-palette($mat-amber, A200, A100, A400);
    
    // The warn palette is optional (defaults to red).
    $warn:    mat-palette($mat-blue-grey);
    
    .link {
        color: mat-color($accent);
    }

    // Create the theme object (a Sass map containing all of the palettes).
    $light-green: mat-light-theme($primary, $accent, $warn);
    // use our theme with angular-material-theme mixin
    @include angular-material-theme($light-green);
    @include footer-theme($light-green);
    @include login-theme($light-green);
    @include register-theme($light-green);
    @include symbol-editor-theme($light-green);
    @include related-symbol-editor-theme($light-green);
}

.pink-dark {
    $primary: mat-palette($mat-pink);
    $accent:  mat-palette($mat-blue-grey, A200, A100, A400);
    $warn:    mat-palette($mat-deep-orange);
    .link {
        color: mat-color($accent);
    }

    $pink-dark: mat-dark-theme($primary, $accent, $warn);

    @include angular-material-theme($pink-dark);
    @include footer-theme($pink-dark);
    @include login-theme($pink-dark);
    @include register-theme($pink-dark);
    @include symbol-editor-theme($pink-dark);
    @include related-symbol-editor-theme($pink-dark);
}

.mat-dialog-container {
    overflow: hidden !important;
    border-radius: 5px !important;
    padding: 5px !important;
  }