<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filters
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form class="form">
        <mat-form-field mat-primary color="primary" class="full-width">
            <input matInput placeholder="Name" name="name" [(ngModel)]="symbolFilter.name">
        </mat-form-field>
        <mat-form-field mat-primary color="primary" class="full-width">
            <mat-select placeholder="Category" [(value)]="symbolFilter.category">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let item of categories | keys; let i = index" [value]="i">
                    {{item.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button mat-primary color="primary" (click)="filter()">Filter</button>
      </form>
    </mat-expansion-panel>
</mat-accordion>
<mat-toolbar class="symbol-toolbar">
    <span class="spacer"></span>
    <button mat-fab color="primary" matTooltip="Add a new symbol" (click)="openSymbolEditor()">
        <mat-icon aria-hidden="true" fontSet="fa" class="auto-height" mat-fab fontIcon="fa-plus"></mat-icon>
    </button>
</mat-toolbar>
<div class="flex-container">
    <div *ngFor="let symbol of symbolsFiltered; index as i">
        <mat-card class="symbol-card mat-elevation-z8">
            <mat-card-content>
                <mat-card-header>
                    <mat-card-title>{{symbol.name}}</mat-card-title>
                    <mat-card-subtitle>{{symbol.categoryString}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button mat-primary color="primary" matTooltip="Open symbol editor" (click)="openSymbolEditor(symbol.id)">
                    <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-pencil"></mat-icon>
                </button>
                <button mat-icon-button mat-primary color="primary" matTooltip="Delete" (click)="removeSymbol(symbol)">
                    <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-trash"></mat-icon>
                </button>
                <button mat-icon-button mat-primary color="primary" matTooltip="Comment" (click)="openSymbolComments(symbol)">
                    <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-comment"></mat-icon>
                </button>
                <button *ngIf="symbolHasLike(symbol)" mat-raised-button mat-icon-button mat-primary color="primary" matTooltip="Like" (click)="like(symbol)">
                    <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-thumbs-up"></mat-icon>
                    <span color="warn">{{ symbol.likes }}</span>
                </button>
                <button *ngIf="!symbolHasLike(symbol)" mat-icon-button mat-primary color="primary" matTooltip="Like" (click)="like(symbol)">
                    <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-thumbs-up"></mat-icon>
                    <span color="warn">{{ symbol.likes }}</span>
                </button>
                <button *ngIf="symbolHasDislike(symbol)" mat-icon-button mat-raised-button mat-primary color="primary" matTooltip="Dislike" (click)="disLike(symbol)">
                    <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-thumbs-down"></mat-icon>
                    <span color="warn">{{ symbol.dislikes }}</span>
                </button>
                <button *ngIf="!symbolHasDislike(symbol)" mat-icon-button mat-primary color="primary" matTooltip="Dislike" (click)="disLike(symbol)">
                    <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-thumbs-down"></mat-icon>
                    <span color="warn">{{ symbol.dislikes }}</span>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>