.flex-container {
  display: flex;
  /* flex-direction: column; */
  /* width: 940px; */
  position: relative;
  flex-wrap: wrap;
}
.auto-height {
  height: auto;
}
.spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.symbol-toolbar {
  background:transparent;
  padding: 0px;
}
.symbol-card {
  margin: 10px;
}
.symbol-box {
  position: absolute;
  // left: 100px;
  // top: 400px;
}