<mat-toolbar class="symbol-toolbar">
    <span class="spacer"></span>
    <button mat-fab color="primary" matTooltip="Add a new symbol" (click)="openSymbolEditor()">
        <mat-icon aria-hidden="true" fontSet="fa" class="auto-height" mat-fab fontIcon="fa-plus"></mat-icon>
    </button>
</mat-toolbar>
<div class="flex-container">
    <div *ngFor="let symbol of symbols; index as i">
        <mat-card class="symbol-card mat-elevation-z8">
            <mat-card-content>
                <mat-card-header>
                    <mat-card-title>{{symbol.name}}</mat-card-title>
                    <mat-card-subtitle>{{symbol.categoryString}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button mat-primary color="primary" matTooltip="Open symbol editor" (click)="openSymbolEditor(symbol.id)">
                    <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-pencil"></mat-icon>
                </button>
                <button mat-icon-button mat-primary color="primary" matTooltip="Delete" (click)="removeSymbol(symbol)" >
                        <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-trash"></mat-icon>
                </button>
                <button mat-icon-button mat-primary color="primary" matTooltip="Like" (click)="like(symbol)" >
                    <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-thumbs-up"></mat-icon>
                </button>
                <button mat-icon-button mat-primary color="primary" matTooltip="Dislike" (click)="disLike(symbol)" >
                        <mat-icon aria-hidden="true" fontSet="fa" fontIcon="fa-thumbs-down"></mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>        
    </div>
</div>
