@import '~@angular/material/theming';

@mixin related-symbol-editor-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);

  mat-dialog-content {
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
  }

  li{
    word-wrap: break-word;
  }

  .mat-dialog-actions:last-child {
    margin-bottom: 0;
  }

  .form {
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }  

  .mylink{
    cursor: pointer;
    color: darkgreen;
  }

  ul {
    list-style: none; /* Remove HTML bullets */
    padding: 0;
    margin: 0;
  }
}